server:
  port: 3001

spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://keycloak:8080/realms/veer

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      enabled: true
      show-details: always

services:
  user:
    uri: http://veer-route:3002
  route:
    uri: http://veer-route:3003
