server:
  port: 3001

spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://keycloak:8080/realms/veer

management:
  endpoints:
    web:
      exposure:
        include: health

